/* Article */
article {
    padding: 1em;
    width: 700px;
    height: 40vh;
    background-color: #fff;
    overflow-y: auto;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: .5em;
            margin-bottom: 0;
        }

        textarea {
            height: 19vh;
        }

        .send-btn {
            margin-top: 1em;
            width: 10%;
            color: #fff;
            background-color: #111;
        }
    }
}
